/*
 * Credit for Button goes to http://codepen.io/asstor_/pen/MYMZZK
 * Credit for Input Field goes to http://codepen.io/rpdasilva/pen/DpbFf
*/

html {
    height: 100%;
}

body{
    background:
            radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)),
            linear-gradient(108deg, #26D0CE, #1A2980 90%);
}

.interface-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="text"]{
    margin: 2em auto;
    padding: 0.5em 0.25em;
    border: 2px solid #fff;
    border-radius: 0.2em;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.2);
}

button {
    margin: 2em auto;
    padding: 0.5em 0.25em;
    outline: none;
    text-align: center;
    border-radius: 0.2em;
    background-color: transparent;
    border: 2px solid #1ECD97;
    color: #1ECD97;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.2);
}
button:hover {
    color: white;
    background: #1ECD97;
}

/* Ugly important stuff because blockUI uses all inline styles */
.blockUI.blockMsg.blockPage {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 0.4em !important;
    border: none !important;
    outline: none !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
    width: inherit !important;
    color: #555 !important;
}